<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Lab_3_Web_Service_1._0.MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CrossDomainServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration=
"Lab_3_Web_Service_1._0.MyServiceBehavior"
        name="Lab_3_Web_Service_1._0.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="Lab_3_Web_Service_1._0.IService1">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress=
"http://localhost:8731/Lab-3-Web-Service-1.0/Service1" />
          </baseAddresses>
        </host>
      </service>
      <service name="Lab_3_Web_Service_1._0.CrossDomainService">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract=
"Lab_3_Web_Service_1._0.ICrossDomainService" behaviorConfiguration="CrossDomainServiceBehavior"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>